<link
  href="{{ header.absoluteThemePath }}/style.css"
  rel="stylesheet"
  type="text/css"
/>

<div id="kmailContainer">
  <div id="kmailFixedHeader">
    <div class="kmailTitle">
      <div class="kmailPhoto" title="{{ header.from.str|safe }}">

        {% if header.photourl %}
          <img
            src="{{ header.photourl }}"
            width="{{ header.photowidth }}"
            height="{{ header.photoheight }}"
          />
        {% else %}
          <img
            class="kmailDefaultPhoto"
            src="{{ header.absoluteThemePath }}/photo.svg"
            width="{{ header.photowidth }}"
            height="{{ header.photoheight }}"
          />
        {% endif %}

      </div>

      <div class="kmailTitleName">

        <div class="kmailSubjectHeader">
          <span>
            {{ header.subject|safe }}
          </span>

          {% if header.messageHasSecurityInfo %}
            <span title="{{ header.messageHasSecurityInfoI18n }}" class="kmailHeaderIcons">
              {% if header.messageIsSigned %}
                <span>
                  {{ header.signedIcon|safe }}
                </span>
              {% endif %}

              {% if header.messageIsEncrypted %}
                <span>
                  {{ header.encryptedIcon|safe }}
                </span>
              {% endif %}
            </span>
          {% endif %}
        </div>

        <div class="kmailInfoText">
          <div class="kmailReceiver" title="{{ header.from.str|safe }}">
            {{ header.from.fullAddress|safe }}
          </div>

          <div class="kmailDate" title="{{ header.date.localelong|safe }}">
            {{ header.date.fancyshort|safe }}
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="kmailStaticHeader">
    <div class="kmailTitle">
      <div class="kmailPhoto" title="{{ header.from.str|safe }}">

        {% if header.photourl %}
          <img
            src="{{ header.photourl }}"
            width="{{ header.photowidth }}"
            height="{{ header.photoheight }}"
          />
        {% else %}
          <img
            class="kmailDefaultPhoto"
            src="{{ header.absoluteThemePath }}/photo.svg"
            width="{{ header.photowidth }}"
            height="{{ header.photoheight }}"
          />
        {% endif %}

      </div>

      <div class="kmailTitleName">

        <div class="kmailSubjectHeader">
          <span>
            {{ header.subject|safe }}
          </span>

          {% if header.messageHasSecurityInfo %}
            <span title="{{ header.messageHasSecurityInfoI18n }}" class="kmailHeaderIcons">
              {% if header.messageIsSigned %}
                <span>
                  {{ header.signedIcon|safe }}
                </span>
              {% endif %}

              {% if header.messageIsEncrypted %}
                <span>
                  {{ header.encryptedIcon|safe }}
                </span>
              {% endif %}
            </span>
          {% endif %}
        </div>

        <div class="kmailInfoText">
          <div class="kmailReceiver" title="{{ header.from.str|safe }}">
            {{ header.from.fullAddress|safe }}
          </div>

          <div class="kmailDate" title="{{ header.date.localelong|safe }}">
            {{ header.date.fancyshort|safe }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="kmailContentWrapper">
    <div class="kmailBodyWrapper">
      <div class="kmailMessageInfoWrapper">

        <div class="kmailMessageInfo">
          <!-- TO -->

          {% if header.to.isSet %}
            <div class="kmailMessageInfoTitle">
              {{ header.toi18n }}
            </div>
            <div class="kmailMessageInfoContent">
              {{ header.to.expandableTo|safe }}
            </div>
          {% endif %}

          <!-- Vcard -->

          {% if header.vcardname %}
            <div class="kmailMessageInfoTitle">
              {{ header.vcardi18n }}
            </div>
            <div class="kmailMessageInfoContent">
              <a href="{{ header.vcardname|safe }}">
                {{ header.vcardname }}
              </a>
            </div>
          {% endif %}

          <!-- Resend -->

          {% if header.resentFrom.isSet %}
            <div class="kmailMessageInfoTitle">
              {{ header.resentFromi18n }}
            </div>
            <div class="kmailMessageInfoContent">
              {{ header.resentFrom.fullAddress|safe }}
            </div>
          {% endif %}

          <!-- CC -->

          {% if header.cc.isSet %}
            <div class="kmailMessageInfoTitle">
              {{ header.cci18n }}
            </div>
            <div class="kmailMessageInfoContent">
              {{ header.cc.expandableCc|safe }}
            </div>
          {% endif %}

          <!-- BCC -->

          {% if header.bcc.isSet %}
            <div class="kmailMessageInfoTitle">
              {{ header.bcci18n }}
            </div>
            <div class="kmailMessageInfoContent">
              {{ header.bcc.fullAddress|safe }}
            </div>
          {% endif %}

          <!-- Sender -->

          {% if header.sender.isSet %}
            <div class="kmailMessageInfoTitle">
              {{ header.senderi18n }}
            </div>
            <div class="kmailMessageInfoContent">
              {{ header.sender.fullAddress|safe }}
            </div>
          {% endif %}

          <!-- List -->

          {% if header.listid %}
            <div class="kmailMessageInfoTitle">
              {{ header.listidi18n }}
            </div>
            <div class="kmailMessageInfoContent">
              {{ header.listid|safe }}
            </div>
          {% endif %}

          <!-- Is SPAM -->

          {% if header.spamHTML %}
            <div class="kmailMessageInfoTitle">
              {{ header.spamstatusi18n }}
            </div>
            <div class="kmailMessageInfoContent">
              {{ header.spamHTML|safe }}
            </div>
          {% endif %}
        </div>

        {% if header.hasAttachment %}
          <div class="kmailMessageInfo" id="kmailHeaderAttachments">
            <div class="kmailHeaderAttachmentsTitle">
              {{ header.attachmentI18n }}
            </div>
            <div class="kmailIcon kmailIconAttachment">
              {{ header.attachmentIcon|safe }}
            </div>
            <div class="kmailAttachment">{{ header.attachmentHtml|safe }}</div>
          </div>
        {% endif %}
        
      </div>

      <div id="kmailMesageBody">
