html {
  background-color: #f0f0f0 !important;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 16px;
}

#invitation td {
  word-break: break-word;
  overflow-wrap: break-word;
}

/**
 * Global
 */

#kmailContainer {
  color: #222;
}

blockquote {
  margin: 10px 0 !important;
  background: #f0f0f0;
  border-radius: 2px;
  padding: 10px;
  border-left: none;
}

blockquote font {
  color: #555;
}

#kmailContainer a {
  text-decoration: none;
  color: #2980b9;
}

#kmailContainer a:hover {
  text-decoration: underline !important;
}

.kmailIcon {
  margin-right: 5px;
  width: 20px;
}

.kmailStyles {
  font-family: sans-serif !important;
}

/**
 * Container
 */

#kmailContainer {
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

/**
 * Header
 */

#kmailStaticHeader {
  width: 100%;
  position: static;
  flex-basis: content;
  visibility: hidden;
  opacity: 0;
}

#kmailFixedHeader {
  width: 100%;
  position: fixed;
  flex-basis: content;
  background: #fcfcfc;
  z-index: 10;
}

#kmailFixedHeader::before {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #bdc3c7;
  content: '';
  z-index: -1;
  bottom: -2px;
}

.kmailTitle {
  display: grid;
  z-index: 1;
  grid-template-columns: 60px calc(100% - 60px);
  text-align: left;
  padding: 20px;
}

.kmailPhoto {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 25px !important;
  overflow: hidden;
}

.kmailPhoto > img {
  object-fit: cover;
}

.kmailPhoto > img.kmailDefaultPhoto {
  object-fit: none;
  transform: scale(0.6);
}

.kmailSubjectHeader {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin: 0;
  padding: 0;
  grid-column: 2;
  grid-row: 1;
  font-weight: normal;
  line-height: 1.2 !important;
}

.kmailTitleName {
  display: flex;
  flex-direction: column;
  grid-column: 2;
}

.kmailTitleName > *:not(:first-child) {
  margin-top: 4px;
}

.kmailTitleName .kmailInfoText {
  display: flex;
  justify-content: space-between;
}

.kmailInfoText {
  margin: 0;
  padding: 0;
  color: #7f8c8d;
  font-weight: 600;
  grid-column: 2;
  line-height: 1.4;
  font-size: 12px !important;
}

.kmailInfoText a {
  font-weight: normal;
  font-size: 12px !important;
}

.kmailInfoText * {
  font-size: 12px !important;
}

.kmailReceiver {
}

.kmailDate {
  font-weight: normal;
  white-space: nowrap;
}

.kmailHeaderIcons {
  margin-left: 5px;
}

/**
 * Content wrapper
 */

#kmailContentWrapper {
  position: relative;
  left: 0;
  width: 100%;
  background: #f0f0f0;
  z-index: 0;
}

.kmailMessageInfoWrapper {
  padding: 0 40px;
  display: flex;
  flex-direction: column !important;
  justify-content: stretch;
  z-index: 100;
  left: 0px;
  width: 100%;
  position: sticky;
}

.kmailMessageInfoWrapper > div {
  padding: 20px 0;
  width: 100%;
}

.kmailMessageInfoWrapper > *:not(:first-child) {
  border-top: 2px dashed #bdc3c7;
}

.kmailBodyWrapper {
  display: inline;
}

/**
 * Info
 */

.kmailMessageInfo {
  font-size: 14px;
  display: grid;
  gap: 5px;
  grid-template-columns: 120px auto;
}

.kmailMessageInfoTitle {
  grid-column: 1;
  text-align: end;
}

.kmailMessageInfoContent {
  grid-colomn: 2;
  text-align: start;
}

/**
 * Attachments
 */

#kmailHeaderAttachments {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

#kmailHeaderAttachments * {
  background: none !important;
  border-left: none !important;
}

#kmailHeaderAttachments div {
  max-width: 100%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.kmailHeaderAttachmentsTitle {
  overflow: visible;
  width: 120px;
  text-align: right;
}

.kmailIconAttachment img {
  position: absolute;
  display: block;
  right: 30px;
  bottom: -30px;
  width: 100px !important;
  height: 100px !important;
  opacity: .1;
  pointer-events: none;
}

.kmailAttachment > div > * {
  margin-right: 10px;
}
.kmailAttachment > div img {
  width: 24px;
  height: 24px;
}

/**
 * Message body wrapper
 */

#kmailMesageBody {
  display: inline-block;
  background: #fff;
  padding: 40px !important;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
  margin: 0 40px;
  min-width: calc(100% - 80px);
}

/**
 * Sign warn
 */

table.signWarn {
  border-radius: 2px;
  background-color: #fff !important;
}

.signWarnB td {
  padding: 10px;
  background: #fff;
}

.signWarnH {
  border-radius: 2px;
}

tr.signWarnH > td {
  padding: 10px !important;
}

@media screen and (max-width: 1020px) {
  .kmailMessageInfoWrapper {
    padding: 0 20px;
  }

  #kmailMesageBody {
    margin: 0 20px 20px;
    padding: 20px !important;
    min-width: calc(100% - 40px);
  }
}

@media screen and (max-width: 720px) {
  .kmailBodyWrapper {
    padding: 0;
  }
  
  .kmailBodyWrapper > *:not(:first-child) {
    margin-top: 0;
  }
  
  .kmailMessageInfoWrapper {
    padding: 0 20px;
  }

  #kmailMesageBody {
    padding: 0;
    margin: 0;
    box-shadow: none;
    min-width: 100%;
    border-radius: 0;
  }
}

@media screen and (max-width: 640px) {
  .kmailBodyWrapper {
    padding: 0;
  }
  
  #kmailMesageBody {
    padding: 0;
  }
}

/*
 * Inline message info
 */


#kmailMesageBody div.inlineMessageError,
#kmailMesageBody div.inlineMessageInformation {
  border: none !important;
  border-radius: 4px;
  box-shadow: none;
  margin: 0 !important;
  width: 100%;
  padding: 20px !important;
  font-size: 1.2em;
  box-shadow: none;
  overflow: hidden;
  position: relative;
}

#kmailMesageBody div.inlineMessageError:before,
#kmailMesageBody div.inlineMessageInformation:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
}

/*
 * Inline message error
 */

#kmailMesageBody div.inlineMessageError {
  background: #ffd8d8 !important;
}

#kmailMesageBody div.inlineMessageError:before {
  background: #ff7053;
}

#kmailMesageBody div.inlineMessageError img {
  margin-right: 20px;
}

/*
 * Inline message information
 */

#kmailMesageBody div.inlineMessageInformation {
  background: #e4f2ff !important;
  margin-bottom: 20px !important;
}



#kmailMesageBody div.inlineMessageInformation:before {
background: #5370ff;
}
